.navigation {
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: inherit;
    display: inline-block;
}
.navigation a {
    display: inline-block;
    width: 5rem;
    padding: 20px 0px;
    vertical-align: middle;
    color: #bababa;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.navigation a:hover {
    color: #23eeec;
    text-decoration: none;
}

//color of current nav icon
.current {
    color: #ffffff !important;
}

.spacer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.spacer-small {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.title-area {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-form{
  width: 30rem;
}

#submit-button {
  text-align: center;
  font-size: 1.1rem;
}
